<form class="card m-3">
    <input  [formControl]="nombre" class="p-2 mb-2" placeholder="nombre"/>
    <input  [formControl]="apellido" class="p-2 mb-2" placeholder="apellido"/>
    <button (click)="addFactura()" class="btn btn-success">
          Aceptar</button>
</form>

<ul class="list-group m-3">
    <li class="list-group-item" *ngFor="let factura of facturas">
        <p>{{factura.idproveedor}}</p>
        <p>{{factura.nombre}}</p>
        <p>{{factura.apellido}}</p>
        <div class="d-flex flex-md-row-reverse"></div>
   <button (click)="eliminar(factura.idproveedor)" class="btn btn-danger mr-2">
            delete</button>
    <button (click)="getFactura(factura.idproveedor)" class="btn btn-success">
            update</button>
    </li>

</ul>
